
body {
  font-size: 14px;
  font-family: sans-serif;
  background: #ACAC92;
}

h2 {
  line-height: 0;
}

.event_list {
  border: 1px solid #797863;
  background: #E6E2C9;
  padding: 3px;
  width: 600px;
}

.day {
  padding: 5px;
  border: 1px solid #797863;
  margin-bottom: 5px;
}

.event {
  clear: both;
  border-top: 1px dashed black;
  padding-bottom: 3px;
  padding-top: 8px;
}

.event strong {
  display: block;
  float: left;
  width: 70px;
  text-align: left;
}

.event_date {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 3px;
}

.event_time {
  font-weight: bold;
  width: 70px;
  float: left;
}

.event_icons {
  float: left;
  padding-right: 10px;
}

.event_text {
  padding-left: 80px;
}

.event_title {
  padding-left: 80px;
  font-weight: bold;
}

.event_theme {
  padding-left: 80px;
}

